.Login_screen_main_div{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.Login_screen_sub_main{
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f7fc;
    /* background-color: cadetblue; */
}
.back_icon_div{
    display: flex;
    align-self: flex-start;
    margin-left: 1rem;
    padding-top: 2rem;
    font-size: 2rem;
}
.Login_image_container{
    height: 140px;
    /* background-color: cadetblue; */
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    object-fit: contain;
    padding-top: 3rem;
}
.Login_sapid_logo_css{
    height: 100%;
    width: 100%;
}
.welcome_back_signin_div{
    color: rgb(29, 28, 28);
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-family: 'MADE Outer Sans Alt', sans-serif;
}
.both_input_field_main_div{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.single_input_field_div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}
.forgot_password_div{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
    color: rgb(2, 2, 53);
    /* font-size: medium; */
    font-weight: 500;
    font-family: 'MADE Outer Sans Alt', sans-serif;
    cursor: pointer;
}
.continue_btn_div{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.dont_have_account_div{
    /* font-size: 14px; */
    font-family: 'MADE Outer Sans Alt', sans-serif;
    display: flex;
    align-items: flex-end;
    padding-top: 8px;
    padding-bottom: 2rem;
}
.Sign_up_text_css{
    /* font-size: 14px; */
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'MADE Outer Sans Alt', sans-serif;
}